@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme' with (
  $theme: themes.$g100,
);
@use '@carbon/react';
@use '@carbon/grid';


// Emit the flex-grid styles
@include grid.flex-grid();
@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: rgb(34,37,41);
  color: rgb(198,198,198);
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}



